<div [@routerTransition]>
    <div class="circle"></div>
    <div class="circle-sec"></div>

    <div class="container login-container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 align-self-center">
                <h1 class="display-3">Covid-19</h1>

            </div>

            <div class="col-md-6">
                <div class="card shadow  p-5 text-center">
                    <div class="card-body mt-5 mb-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password *" value="" />
                            </div>
                            <button (click)="onLoggedin()" [routerLink]="['/dashboard']"
                                class="btn btn-primary btn-lg btn-block btn-rounded" value="Login">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>covid-19</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password"
                        />
                    </div>
                </div>
                <a (click)="onLoggedin()" [routerLink]="['/dashboard']" class="btn rounded-btn">{{
                    'Log in' | translate
                }}</a>
                &nbsp;
                <a [routerLink]="['/signup']" class="btn rounded-btn">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-6 align-self-center mt-5">
            <h1 class="display-3">Covid-19</h1>
        </div>
        <div class="col-md-6">
            <div class="container login-container">
                <div class="row ">
                    <div class="col-md-6 login-form-1">
                        <h3>Login for Form 1</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password *" value="" />
                            </div>
                            <button (click)="onLoggedin()" [routerLink]="['/dashboard']"
                                class="btn btn-primary btn-lg btn-block btn-rounded" value="Login">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
